*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:white
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    height:70%;
    width: 27%;
    background-color:#212121da;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:15px;
}
.inputbox{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box{
    display: flex;
    height: 30px;
    width: 100%;
    gap:40px;
    padding-left: 60px;
    margin: 15px;
}
.box p{
    font-size: large;
    /* color: white; */
}
.box input{
    height: auto;
    border-radius: 5px;
    outline: none;
   color:yellow;
   background-color:white;
   color:black;
   border:1px solid green;
   
}
h2{
    font-weight: 800;
    font-size: 2rem;
}
#calc{
    height: 40px;
    width: 170px;
    background-color:brown;
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: large;
}
details{
    height: 40px;
    width: 300px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}
summary{
    background-color: rgb(89, 0, 255);
    border-radius: 5px;
}